body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.menu {
  
  background-image: url("https://www.canterbury.ac.nz/library/libraries/about-the-library/content-blocks/1502754366153_Old-bookshelf-with-aged-books-orig.jpg");
  width: 600px;
  height: 600px;
  color: white;  

}
.google-btn {
  width: 184px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 5px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25); }
  .google-btn .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff; }
  .google-btn .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px; }
  .google-btn .btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto"; }
  .google-btn:hover {
    box-shadow: 0 0 6px #4285f4; }
  .google-btn:active {
    background: #1669F2; }

.book-card{
  width: 18rem;
  color: black;
  
}    
.book-img{
  width: 50%;
}   

.star {
  cursor: pointer;
  transition: color 20ms;
}

input[type="radio"] {
  display: "none";
}
  