.card-res {
  width: 400px;
}
.book-card {
  display: flex;
  flex-direction: row;
  margin: 0 !important;
  position: relative;
}
.book-card-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.7);
}

.book-card-author {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 50%;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.7);
  line-height: 36px;
  font-weight: bold;
}
.book-card-author .card-footer {
  padding: 0;
  padding-left: 12px;
  font-weight: bold;
}
.card-text.card-title.h5 {
  margin: 0;
  line-height: 36px;
  padding-left: 12px;
  color: #282c34;
  font-weight: bold;
}

.book-card-left,
.book-card-right {
  width: 50%;
}

.book-card-right {
  padding-top: 36px;
}
